*{
  margin: 0;
}

body {
  font-family: 'Anek Devanagari', sans-serif;
  background: url(/bg1.jpg);
}


header{
  text-align: center;
  background: url(/bg.jpg);
}


.rumus {
    display: flex;
    justify-content: center;
    margin: 100px;
    height: max-content;
    background: rgba(0, 0, 0, 0.24);
    padding: 40px;
    color: white;
    font-size: 1.2rem;
}
#persegi,
#persegi-panjang,
#segitiga{
  justify-content: center;
  display: flex;
}

.kotak-rumus{
    text-align: center;
    justify-content: center;
    height: max-content;
    background: rgba(31, 22, 22, 0.24);
    margin: 20px;
    padding: 20px;
    border: 1px rgb(245, 240, 240) solid;
}



button{
    margin-top: 5px;
}

input{
  display: block;
  border-radius: 10px;
  text-align: center;
  padding-left: 12px;
}


.wrapper{
  text-align: center;
  justify-content: center;
  align-items: center ;
}

footer{
  align-items: center;
  text-align: center;
  background: #ffff;
}




/* CSS */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


@media only screen and (max-width: 420px){
  .rumus {
    display: block;
    justify-content: center;
    margin: 0;
    height: max-content;
    background: rgba(0, 0, 0, 0.24);
    padding: 40px;
    color: white;
    font-size: 1.2rem;
}
#persegi,
#persegi-panjang,
#segitiga{

  align-items: center;
  justify-content: center;
  display: block;
}

input{
  position: relative;
  left: 30px;
} */

}

@media only screen and (max-width: 400px){
  input{
    left: 20px;
  }
}
@media only screen and (max-width: 360px){
  input{
  padding: 5;
    left: -3px;
  }
}


